.contents {
	position: absolute;
	display: block;
	left: 500px;
	
	background-image: url("../src/white_bg.png");
	background-size : contain;
	background-repeat : no-repeat;
}

.contents .c_wrapper {
	margin: auto;
}

.contents .c_wrapper .title {
	margin: 0 auto 5px;
	text-align: center;
}

.contents .c_wrapper .description {
	width: 100%;
}

.contents .c_wrapper .description ul li{
	text-align: center;
	margin-top: 1.5em;
}

.contents .c_wrapper .description ul li a {
	color: black;
	text-decoration: none;
}

.contents .c_wrapper .description ul li a:hover {
	color: #777;
}